.react-calendar__tile:enabled:hover {
  @apply bg-[#f6eae3] rounded-lg;
}

.react-calendar__tile--active {
  background-color: #e68369 !important; /* Green background on selected day */
  color: white;
  border-radius: 0.5rem;
}

.react-calendar__tile--active:focus {
  background-color: #e68369 !important;
  border-radius: 0.5rem;
}

.react-calendar__navigation button:disabled {
  @apply bg-gray-50 text-gray-400;
}

/* Header Text Color */
.react-calendar__navigation__label {
  @apply text-darkapricot font-bold;
}

.react-calendar__tile:disabled {
  @apply bg-gray-50;
}
