/* CSS HEX
--alabaster: #DCDED6ff;
--cambridge-blue: #8DA581ff;
--sage: #B1B980ff;
--raisin-black: #1D2128ff;
--wenge: #52474Bff;
--apricot: #F8C2A6ff;
--coral: #F48E68ff;
--fawn: #F2B086ff;
--jasper: #BF6656ff;
--brown-sugar: #BA7C69ff;
---------
--tea-green: #C9E5AB;
rgb(201, 229, 171)
--space-cadet: #242D45;
--white: #fdf8f7;
--antiflash-white: #F3F4F6;
--gunmetal: #1F2937;
--pale: #ECCEAE;
--apricot-dark: #E68369;
--apricot: #F8C2A6;
*/
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
body {
  background: linear-gradient(60deg, #172841 60%, #263f63 60%);
}

.bg-white-0 {
  background-color: rgb(240, 240, 246);
  min-height: 90vh;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
